<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.frameworktest.mapper.TestMapper">
    <select id="findByNamePrefixOrderByIdDesc" resultType="com.blog.frameworktest.TestEntity">
        SELECT * FROM test_entity WHERE name LIKE CONCAT(#{namePrefix}, '%') ORDER BY id DESC
    </select>
</mapper>